a,
button,
img {
    display: block;
}

a {
    margin-bottom: 30px;
}

img {
    width: 600px;
    height: 300px;
}

.output {
    font-size: 25px;
    color: blue;
    text-decoration: underline;
}